@charset "utf-8";
/* CSS Document */

/*----------------------------------------------
******************* General ********************
----------------------------------------------*/
*{
	margin: 0px;
	padding: 0px;
}
.clear{
	clear: both;
}
body{
	background:#242424;
}

.clearfix::before,
.clearfix::after {
	display: table;
	content: "";
}
.clearfix::after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE 6/7*/
}


/*----------------------------------------------
***************** Encabezado *******************
----------------------------------------------*/
header{
	background:#131313;
	border-bottom:5px solid #000000;
}
#encabezado{
	margin-right:80px;
}

#encabezado ul li{
	list-style:none;
	float:left;
}
#encabezado ul , #menu ul{
	float:right;	
}

#encabezado li a {
	color:#FFFFFF;
	text-decoration:none;
	padding:5px 10px;
	display:block;
}
#encabezado #redes{
	float:right;
	width:100%;
}

#menu{
	float:right;
	width:700px;
	margin-right:60px;
	margin-top:25px;
	font-family:OleoScript-Regular;
	font-size:18px;
}
#menu ul , #menu li a{
	list-style:none;
	text-decoration:none;
	padding: 0px 25px;
	display:block;
	color:#FFFFFF;

}
#menu ul{
	padding:10px 20px;
	
}

#menu > ul li {
	float:left;
	border-right:1px solid #476e03;

}
#menu > ul li::before{
	background:#476e03 none repeat scroll 0 0;
	width:1px;	
	height:7px;
	display:block;
	position:absolute;
	top:7px;
}
#menu li a:hover{
	color:#5F5F5F;

}

#menu li ul {
	display:none;
}

@font-face{
	font-family:OleoScript-Regular;
	src:url(../font/OleoScript-Regular.ttf);
}

#logo{
	margin-left:60px;
	width:400px;
	height:100px;
	line-height:1px;	
	display:block;
	float:left;
	font-family:OleoScript-Regular;
	font-size:31px;
}
#logo a{
	text-decoration:none;
	color:#FFFFFF;
}



/*----------------------------------------------
******************* Slider *********************
----------------------------------------------*/
#slider img{
	height:422px;
	width:100%;
}

/*----------------------------------------------
******************* Secction *******************
----------------------------------------------*/
#contenido {
	margin-top:0;
	color:#FFFFFF;
	background:#242424;
}

#contenido h1 {
	margin:0px;
	padding-top:25px;
}

#article1 h1{
	font-family:OleoScript-Regular;
	font-size:65px;
	text-align:center;	
}

#article1 h2{
	font-family:sans-serif;
	font-size:25px;
	text-align:center;
	width:950px;
	margin-left:170px;;
}

#contenido #article2{
	background:#131313;
	width:90%;
	margin-left:65px;
	margin-top:30px;
	padding: 34px 0 35px;
}

#contenido #article2 .articles{
	width:350px;
	padding:0px 18px;
}

#article2 .title{
	font-family:OleoScript-Regular;
	font-size:31px;	
	color:#FFFFFF;
	text-decoration:none;

}

#article2 h3{
	font-family:sans-serif;
	font-size:12px;
}

#article2 p{
	font-family:sans-serif;
	font-size:12px;
	width:265px;
	margin-bottom:10px;
	
}

#article2 .enlace-article{
	font-family:OleoScript-Regular;
	font-size:20px;	
	color:#FFFFFF;
	text-decoration:none;
		
}

#article2 .enlace-article:hover ,
#article2 .title:hover ,
.box-info a:hover,
.box-info .box a:hover{
	color:#5F5F5F;
}

#article2 .articles{
	position:relative;
	float:left;
	
}

#article2 img{
	margin-left:-20px;
}

#article2 .content-article{
	float:right;
	margin-right:0px;
	height:160px;
}

#article2 .content-article h4{
	margin-top:-10px;
}

.content-article hgroup h3,
.content-article hgroup p{
	margin-top:12px;	
}

#information h2{
	font-family:OleoScript-Regular;
	font-size:30px;	
	color:#FFFFFF;
	margin-bottom:20px;
}

.box-info a {
	text-decoration:none;
	color:#FFFFFF;
	text-transform:uppercase;
	font-family:sans-serif;
	font-size:12px;
}

.box-info .box a{
	text-decoration:none;
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:12px;
	text-transform:lowercase;
}

.box-info p{
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:12px;
}
#information #welcome{
	padding-right:50px;
	border-right:1px solid #393939;
}

#information #welcome img{
	margin-bottom:15px;
}
#information #welcome p,
#information #news p{
	margin: 10px 0px 20px 0px;
	
}

#information #welcome a , 
#information #welcome p{
	width:370px;
}

#information .box-info{
	width:380px;
	float:left;
}

#information .post span{
	font-family:sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#9A9A9A;
	display:block;
	margin-bottom:10px;
}
#information #post1{
	margin-bottom:65px;
}

#information .post{
	width:270px;
}

#information{
	position:relative;
	width:90%;
	margin-left:65px;
	margin-top:60px;
}

#information #news{
	margin-left:55px;
	border-right:1px solid #393939;
	width:335px;
}
#information #latest{
	width:265px;
	margin-left:55px;
}

#latest .box{
	position:relative;
	margin-top:20px;
}
#latest #box-ultimo{
	margin-bottom:15px;
}

#latest .box p{
	width:170px;
	float:right;
}

.box-info .more{
	margin-top:15px;
	background:#131313;
	padding:5px 25px;
}

.box-info .more:hover{
	color:#131313;
	background:#FFFFFF;
}


/*----------------------------------------------
******************* Footer *********************
----------------------------------------------*/
footer{
	background:#131313;
	height:116px;
	margin-top:85px;
	width:100%;
	line-height:116px;
}
#footer{
	margin-left:65px;
}
#footer .privacy{
	color:#FFFFFF;
	text-decoration:none;
	font-family:sans-serif;
	font-size:11px;
}
#footer a:hover{
	color:#5F5F5F;
}


#menu-footer{
	float:right;
	width:250px;
	margin-top:-116px;
	font-family:sans-serif;
	font-size:11px;
	text-transform:uppercase;
	margin-right:30px;
}
#menu-footer ul , #menu-footer li a{
	list-style:none;
	text-decoration:none;
	padding: 0px 5px;
	display:block;
	color:#FFFFFF;

}

#menu-footer > ul li {
	float:left;
	margin-right:10px;
}

#menu-footer li a:hover{
	color:#5F5F5F;

}

